<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <title>{% block title %}{% endblock %}</title>
    
    <!-- CSS -->    
    <link href="/assets/common/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/assets/common/img/favicon.ico">
    
    <!-- Meta tags -->
    <meta name="description" content="Description">
    <meta name="theme-color" content="#009c3b">
    
    {% block styles %}{% endblock %}
</head>
<body>
    {% include 'templates/public/partials/header.twig' %}
    
    <main class="main-content">
        {% block content %}{% endblock %}
    </main>
    
    {% include 'templates/public/partials/footer.twig' %}
    
    <!-- Scripts -->    
    <script src="/assets/common/js/script.js"></script>
    {% block local_style %}{% endblock %}
    {% block scripts %}{% endblock %}
    {% block local_script %}{% endblock %}
</body>
</html>