<footer class="site-footer">
    <div class="container">
        <div class="footer-content text-center">
            <p class="copyright">
                © 2026 footer
            </p>
        </div>
    </div>
</footer>