<header class="site-header">
    <div class="header-banner">
        <div class="container">
            <h1 class="banner-title">
                Banner Title
            </h1>
            <p class="banner-subtitle">Banner Subtitle</p>
        </div>
    </div>
</header>