{% extends "templates/public/main.twig" %}

{% block title %}Início{% endblock %}

{% block content %}
    <span>{{ message }}</span>
    <p>{{ auth }}</p>
{% endblock %}

{% block local_script %}
    <script type="text/javascript">       
    </script>    
{% endblock %}

{% block local_style %}
    <style>    
    </style>
{% endblock %}